<!DOCTYPE html>
<head>
    <title>MASAT Annual General Meeting 2015</title>
    <meta property="og:title" content="MASAT Annual General Meeting 2015">
    <meta property="og:url" content="http://www.masat.me">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="MASAT AGM 2015">
    <meta property="og:description" content="Another year has gone by and our club has grown another year wiser. Believe it or not, MASAT is already 6 years old! And it's that time of the year again where the current committee members will pass the baton to new hands. This year, the Annual General Meeting (AGM) will be held on April 2nd, 2015.">
    <meta property="og:image" content="http://www.masat.me/img/masat_agm.jpg">
    <meta property="fb:app_id" content="1425173781112798" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800' rel='stylesheet' type='text/css'>
    <script src="build/js/scripts.min.js"></script>
    <link rel="stylesheet" href="build/css/styles.min.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">MASAT A.G. Meeting 2015</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav">
              % if page == "candidates":
                <li class="active">
              % else:
                <li>
              % end
              <a href="/">Candidates</a></li>
              % if page == "vote":
                <li class="active">
              % else:
                <li>
              % end
              <a href="/vote">Popular Votes <span class="sr-only">(current)</span></a></li>
              % if page == "result":
                <li class="active">
              % else:
                <li>
              % end
              <a href="/result">Poll Result</a></li>
              % if page == "manifesto":
                <li class="active">
              % else:
                <li>
              % end
              <a href="/manifesto">Manifesto</a></li>
              % if page == "ask":
                <li class="active">
              % else:
                <li>
              % end
              <a href="/ask">#AskCandidate</a></li>
              <li><a href="http://masatoronto.blogspot.ca">MASAT Blog</a></li>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>