%include views/shared/header.html
    
<br><br>

<div class="container">

    <div class="row">
      <div class="col-md-8">
        <h2 class="admin">Admin Panel</h2>
        <p>Admin panel is a highly secure page only accessed by admin</p>
      </div>
      <div class="col-md-3">
      <br><br>
        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
        </fb:login-button>

        <div id="status">
        </div>
      </div>
    </div>
    <br>

  <div class="row">
      <div class="col-md-11">
          <table class="table table-hover">
          % for question in question_ls:
            <tr>
              <td>
                <p>Question for <b>{{question[0]}}</b></p>
                </td>
              <td>
                <p class="question">Q: {{question[1]}}</p>
                % if question[2]:
                <p class="answer">A: {{ question[2] }}</p>
                % end
                % if question[3] == access:
                <form action="" method="post">
                  <div class="input-group">
                        <input type="text" class="form-control" name="answer" placeholder="Answer">
                        <input type="hidden" name="aid" value="{{access}}">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="submit">Answer</button>
                        </span>
                      </div><!-- /input-group -->
                </form>
                % end
              </td>
              <td>
                <form action="" method="post">
                  <button class="btn btn-danger btn-xs" name="qid" value="{{question[3]}}">delete</button>
                </form>
              </td>
            </tr>
          % end
          </table>
      </div>
  </div>
  




</div>

%include views/shared/footer.html