%include views/shared/header.html
    
<br><br>

<div class="container">

    <script src="js/fb.min.js"></script>
    
    <div class="row">
      <div class="col-md-8">
        <h2>Manifesto</h2>
        <p>You need to log in with Facebook to upvote manifesto</p>
        % if logging_err:
          <p style="color: red">Please log in!</p>
        % end
      </div>
      <div class="col-md-3">
      <br><br>
        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
        </fb:login-button>

        <div id="status">
        </div>
      </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-11">
            <form action="" method="post">
            <table class="table table-hover">
            % for man in ls:
              <tr>
                <td><button class="btn btn-primary btn-xs" name="man_id" value="{{man[2]}}">upvote <span class="badge">{{man[1]}}</span></button></td><td>{{man[0]}}</td><td>{{man[3]}}</td>
              </tr>
            % end
            </table>
            </form>
        </div>
    </div>

</div>

</body>
</html>