<!DOCTYPE html>
<head>
    <title>MASAT Annual General Meeting 2015</title>
    <meta property="og:title" content="MASAT Annual General Meeting 2015">
    <meta property="og:url" content="http://www.masat.me">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="MASAT AGM 2015">
    <meta property="og:description" content="Another year has gone by and our club has grown another year wiser. Believe it or not, MASAT is already 6 years old! And it's that time of the year again where the current committee members will pass the baton to new hands. This year, the Annual General Meeting (AGM) will be held on April 2nd, 2015.">
    <meta property="og:image" content="http://www.masat.me/static/img/masat_agm.jpg">
    <meta property="fb:app_id" content="1425173781112798" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/build/css/styles.min.css">
    <script src="static/build/js/scripts.min.js"></script>
</head>
<body>

<style>
    body{
        padding-top: 0px;
        padding-bottom: 20px;
        font-family: 'Open Sans', sans-serif;
        min-height: 100%;
        position: relative;
    }
</style>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class='text-center'>Poll Result <small>in real-time</small></h2>
            </div>
        </div>
    </div>

    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-md-2">
                <h4 >President</h5>
                <div id="p_chart"></div>
            </div>
            <div class="col-md-2">
                <h5>Vice President</h5>
                <div id="vp_chart"></div>
            </div>
            <div class="col-md-2">
                <h5>Secretary</h5>
                <div id="s_chart"></div>
            </div>
            <div class="col-md-2">
                <h5>Treasurer</h5>
                <div id="treas_chart"></div>
            </div>
            <div class="col-md-2">
                <h5>Sports Officer</h5>
                <div id="sports_chart"></div>
            </div>
            <div class="col-md-2">
                <h5>Media Officer</h5>
                <div id="media_chart"></div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <h5>PR Officer</h5>
                <div id="pr_chart"></div>
            </div>
            <div class="col-md-2">
                <h5>Cultural Affair Officer</h5>
                <div id="cul_chart"></div>
            </div>
            <div class="col-md-2">
                <h5>4th Year Rep</h5>
                <div id="yrep4_chart"></div>
            </div>
            <div class="col-md-2">
                <h5>3rd Year Rep</h5>
                <div id="yrep3_chart"></div>
            </div>
            <div class="col-md-2">
                <h5>2nd Year Rep</h5>
                <div id="yrep2_chart"></div>
            </div>
        </div>

    </div>

    <script src="static/build/js/d3c3.min.js"></script>
    <script src="static/js/result.min.js"></script>

%include views/shared/footer.html
