%include views/shared/header.html
<div class="container">

  <script src="static/js/tanya.js"></script>
  <script src="static/js/fb.js"></script>

  <div role="tabpanel">
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="president">
        <h3>Presidential Candidates</h3>
        <button type="submit" name="fb_asker" class="btn btn-primary">Ask</button>
        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
        </fb:login-button>
        <hr> 
      </div>
    </div>
  </div>
  <div>
    % for cand in ls_cand:
      <div class="tab-content">        
        <div role="tabpanel" class="tab-pane active" id="president">
          <div class="row">
            <div class="col-md-7">
              <h3>{{cand[0]}}</h3>
            </div>
          </div>
          <div class="row">            
            <div class="col-md-7">
              <img src="{{cand[1]}}" class="img-responsive img-rounded" />
            </div>
            <!-- ask input section -->
            <div class="col-md-5">
              <textarea row='5' class="form-control" name="question" id="question-{{cand[2]}}" placeholder="Ask you candidate!"></textarea>
              <input type="hidden" name="asker" id="asker" value="penanya"></input>
              <button type="submit" name="fb_asker" id="ask-btn-{{cand[2]}}" class="ask-btn btn btn-primary">Ask</button>
              <span id="fbloginbtn">
                <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
              </span>
              
            </div>
            <hr> 
          </div>
          <div class="row" id="question-row-{{cand[2]}}" class="question-row">
          % for q in cand[3]:          
            <div class="col-md-7">
              <div class="panel panel-default">
                <div class="panel-heading">{{q[3]}}</div>
                <div class="panel-body">
                  {{q[4]}}
                </div>
              </div>
            </div>
          % end
          </div>
        </div>
      </div>
    <hr>
    %end    
  </div>
</div>  
%include views/shared/footer.html