<html>

<head>
    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script type="application/javascript">
    $(function () {
        $("button").click(function () {
            $.ajax({
                type:'GET',
                url:'/ask.json',
                success: function(data) {
                    $("#Name").html(data.answer);
                    $("#Country").html(data.candidate);
                }
            });
        });
    });

    </script>
    <title>tutorialspoint.com JSON</title>
</head>

<body>
    <h1>Cricketer Details</h1>
    <table class="src">
        <tr>
            <th>Name</th>
            <th>Country</th>
        </tr>
        <tr>
            <td>
                <div id="Name">Sachin</div>
            </td>
            <td>
                <div id="Country">India</div>
            </td>
        </tr>
    </table>
    <div class="central">
        <button type="button">Update Details </button>
</body>

</html>
